@font-face {
  font-family: "Source Han Sans JP";
  font-weight: 400;
  src: url("../fonts/SourceHanSansJP-Light.otf") format("opentype");
}

@font-face {
  font-family: "Source Han Sans JP";
  font-weight: 600;
  src: url("../fonts/SourceHanSansJP-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Source Han Sans JP";
  font-weight: 800;
  src: url("../fonts/SourceHanSansJP-Heavy.otf") format("opentype");
}

@-webkit-keyframes loop-slide {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes loop-slide {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

html {
  font-size: 12px;
}

body {
  margin: 0;
  font-family: "Source Han Sans JP", sans-serif;
}

header {
  padding: 10px;
  background-color: #0a111b;
  background-size: cover;
  background-image: url(../imgs/bg.jpg);
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 25px;
  letter-spacing: 1px;
}

header h2 {
  margin: 10px 0 5px;
  font-size: 10px;
  letter-spacing: .8px;
}

header a {
  color: #fff;
  text-decoration: none;
}

main section > h1 {
  margin: 30px 40px 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #444;
  font-size: 18px;
  font-weight: 600;
}

main section p {
  margin: 0 50px;
  line-height: 2;
}

main section a {
  display: block;
  position: relative;
  margin: 10px 50px;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 7px;
  font-weight: 600;
}

main section a::after, main section a::before {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background-size: contain;
  background-repeat: no-repeat;
}

main section a::before {
  left: 13px;
}

main section a::after {
  right: 5px;
  background-image: url("../imgs/right.svg");
}

main section a.twitter {
  border: 0;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background: #4199FC;
}

main section a.twitter::before {
  background-image: url("../imgs/twitter.svg");
}

main section a.twitter::after {
  background-image: url("../imgs/right-white.svg");
}

main section ul {
  padding: 0;
  list-style: none;
}

main section ul li {
  width: 90vw;
  margin: 15px auto;
  -webkit-box-shadow: 0 0 6px #00000050;
          box-shadow: 0 0 6px #00000050;
}

main section ul.list-with-img li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section ul.list-with-img li img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

main section ul.list-with-img li div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

main section ul.list-with-img li div p.name {
  margin: 0;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 600;
}

main section ul.list-with-img li div p.name span {
  font-size: 10px;
  font-weight: 400;
}

main section ul.list-with-img li div .btn {
  margin: 0 10px;
}

main section ul#flights-list li .flight-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6rem 1fr 2rem 1fr;
      grid-template-columns: 6rem 1fr 2rem 1fr;
}

main section ul#flights-list li .flight-info .flight-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: .1rem solid #DBDBDB;
  font-size: .8rem;
}

main section ul#flights-list li .flight-info .airports {
  padding: 1rem 0;
}

main section ul#flights-list li .flight-info .airports p {
  margin: 0;
  text-align: center;
}

main section ul#flights-list li .flight-info .airports p.airport-name {
  font-weight: 800;
  font-size: 1rem;
}

main section ul#flights-list li .flight-info .airports p.airport-time {
  font-weight: 200;
  font-size: .8rem;
}

main section ul#flights-list li .flight-info .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section ul#flights-list li .flight-info .arrow img {
  width: 2rem;
  height: 2rem;
}

main section ul#flights-list li .flight-info .space {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

main section ul#flights-list li .notes {
  border-top: .1rem solid #DBDBDB;
  padding: 10px 0 13px;
  text-align: center;
  font-size: .7rem;
}

main section ul#flights-list li .notes p {
  margin: .2rem;
}

main section ul#flights-list li .notes p.codeshare {
  font-weight: 600;
}

main section#info {
  position: relative;
  border-bottom: 5px solid #18D1E0;
  padding: 10px 0;
}

main section#info::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  width: 30px;
  height: 30px;
  margin: auto;
  background-image: url("../imgs/info-circle.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

main section#info p {
  font-size: 10px;
  line-height: 1.8;
  margin-left: 60px;
  margin-right: 30px;
}

main section form {
  margin-bottom: 10px;
}

main section form label {
  display: block;
  width: 80%;
  margin: 10px auto 5px;
  font-weight: 600;
  font-size: 15px;
}

main section form select {
  display: block;
  width: 80%;
  margin: 0 auto 20px;
  padding: 10px 5px;
  border: 1px solid #444;
  border-radius: 5px;
  background: #fff;
}

footer {
  margin-top: 40px;
  padding: 30px 40px;
  background: #444;
  color: #fff;
}

footer p {
  margin-top: 30px;
  font-weight: 600;
  font-size: 14px;
}

footer ul {
  padding: 0;
  list-style: none;
  margin-bottom: 30px;
}

footer ul li {
  position: relative;
  padding: 8px 15px;
  border-top: 1px solid #ffffffaa;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
}

footer ul li:last-of-type {
  border-bottom: 1px solid #ffffffaa;
}

footer ul li::after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../imgs/right-white.svg");
}
/*# sourceMappingURL=styles.css.map */