$gray: #DBDBDB;
$black: #444;
@font-face { font-family: "Source Han Sans JP"; font-weight: 400; src: url("../fonts/SourceHanSansJP-Light.otf") format("opentype"); }
@font-face { font-family: "Source Han Sans JP"; font-weight: 600; src: url("../fonts/SourceHanSansJP-Medium.otf") format("opentype"); }
@font-face { font-family: "Source Han Sans JP"; font-weight: 800; src: url("../fonts/SourceHanSansJP-Heavy.otf") format("opentype"); }


@keyframes loop-slide {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
} 

html {
  font-size: 12px;
}
body {
  margin: 0;
  font-family: "Source Han Sans JP", sans-serif;
}

header {
  padding: 10px;
  background-color: #0a111b;
  background-size: cover;
  background-image: url(../imgs/bg.jpg);
  text-align: center;
  color: #fff;
  h1 { margin: 0; font-size: 25px; letter-spacing: 1px;}
  h2 { margin: 10px 0 5px; font-size: 10px; letter-spacing: .8px; }
}

main {
  section {
    & > h1 {
      margin: 30px 40px 15px;
      padding-bottom: 5px;
      border-bottom: 1px solid $black;
      font-size: 18px;
      font-weight: 600;
    }
    p {
      margin: 0 50px;
      line-height: 2;
    }
    a {
      display: block;
      position: relative;
      margin: 10px 50px;
      padding: 10px;
      border: 1px solid $black;
      border-radius: 7px;
      font-weight: 600;
      &::after,
      &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        content: "";
        display: block;
        width: 18px;
        height: 18px;
        background-size: contain;
        background-repeat: no-repeat;
      }
      &::before { left: 13px;}
      &::after { right: 5px; background-image: url("../imgs/right.svg"); }
      &.twitter {
        border: 0;
        text-align: center;
        text-decoration: none;
        color: #fff;
        background: #4199FC;
        &::before { background-image: url("../imgs/twitter.svg"); }
        &::after { background-image: url("../imgs/right-white.svg"); }
      }
    }
    ul {
      padding: 0;
      &#flights-list {
        li {
          width: 90vw;
          margin: 15px auto;
          box-shadow: 0 0 6px #00000050;
          list-style: none;
      
          .flight-info {
            display: grid;
            grid-template-columns: 6rem 1fr 2rem 1fr;
            .flight-number {
              display: flex;
              justify-content: center;
              align-items: center;
              border-right: .1rem solid #DBDBDB;
              font-size: .8rem;
            }
            .airports {
              padding: 1rem 0;
              p {
                margin: 0;
                text-align: center;
                &.airport-name {
                  font-weight: 800;
                  font-size: 1rem;
                }
                &.airport-time {
                  font-weight: 200;
                  font-size: .8rem;
                }
              }
            }
            .arrow {
              display: flex;
              align-items: center;
              img {
                width: 2rem;
                height: 2rem;
              }
            }
            .space {
              flex-grow: 3;
            }
          }
      
          .notes {
            border-top: .1rem solid #DBDBDB;
            padding: 10px 0 13px;
            text-align: center;
            font-size: .7rem;
            p { 
              margin: .2rem;
              &.codeshare {font-weight: 600;}
            }
          }
        }
      }
    }
    &#info {
      position: relative;
      border-bottom: 5px solid #18D1E0;
      padding: 10px 0;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 15px;
        width: 30px;
        height: 30px;
        margin: auto;
        background-image: url("../imgs/info-circle.svg");
        background-size: contain;
        background-repeat: no-repeat;
      }
      p {
        font-size: 10px;
        line-height: 1.8;
        margin-left: 60px;
        margin-right: 30px;
      }
    }
  }
}

footer {
  margin-top: 40px;
  padding: 30px 40px;
  background: $black;
  color: #fff;
  p {
    margin-top: 30px;
    font-weight: 600;
    font-size: 14px;
  }
  ul {
    padding: 0;
    list-style: none;
    margin-bottom: 30px;
    li {
      position: relative;
      padding: 8px 15px;
      border-top: 1px solid #ffffffaa;
      a {color: #fff; text-decoration: none; }
      &:last-of-type { border-bottom: 1px solid #ffffffaa; }
      &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 5px;
        margin: auto;
        content: "";
        display: block;
        width: 18px;
        height: 18px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("../imgs/right-white.svg");
      }
    }
  }
}